<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about page</title>
  </head>
  <body bgcolor="red">
    <h1>About page</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/productList">Products List</a>

    <div>
      <form method="post" action="/savaData">
        <div>
          <label for="">enter emp id</label> <input type="text" name="" />
        </div>
        <div><label for="">enter Name </label> <input type="text" /></div>
        <div><label for="">enter emp Salary</label> <input type="text" /></div>
        <div><label for="">enter emp City</label> <input type="text" /></div>
        <button>Submit Data</button>
      </form>
    </div>
  </body>
</html>
